{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% include 'common/if_form.errors.html' %}
<form method="post">
	{% csrf_token %}
	<div class="form-elements">
		{{ form.username.label_tag }}
		{{ form.username }}
	</div>
	<div class="form-elements">
		{{ form.password.label_tag }}
		{{ form.password }}
	</div>
	<button type="submit" class="btn primary">{% trans 'Log in' %}</button>
</form>
<div class="line"></div>
{% trans 'Forgotten your password?' %} <a href="{% url 'participant:password_reset' %}">{% trans 'Password reset' %}</a><br>
{% trans 'No username and password?' %} <a href="{% url 'participant:signup' %}">{% trans 'Sign up' %}</a>
{% endblock %}