{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% if validlink %}
	{% include 'common/if_form.errors.html' %}
	<p>{% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}</p>
	<form method="post">
		{% csrf_token %}
		<div class="form-elements">
			{{ form.new_password1.label_tag }}
			{{ form.new_password1 }}

			{% if form.new_password1.help_text %}
				<div class="text-muted">{{ form.new_password1.help_text|safe }}</div>
			{% endif %}
			{% for error in form.new_password1.errors %}
				<div class="text-secondary">{{ error }}</div>
			{% endfor %}
		</div>
		<div class="form-elements">
			{{ form.new_password2.label_tag }}
			{{ form.new_password2 }}

			{% if form.new_password2.help_text %}
				<div class="text-muted">{{ form.new_password2.help_text|safe }}</div>
			{% endif %}
			{% for error in form.new_password2.errors %}
				<div class="text-secondary">{{ error }}</div>
			{% endfor %}
		</div>
		<input type="submit" value="{% trans 'Change my password' %}" class="btn primary">
		<input type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
	</form>
{% else %}
{% trans 'The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.' %}
{% endif %}
{% endblock %}