{% extends "base.html" %}
{% block content %}
{% load select_apex_in_form from category %}{% select_apex_in_form as categories_dict %}
{% load substr_in_str language_dir_form_field from utils %}
{% include 'common/if_messages.html' %}
{% include 'common/if_form.errors.html' %}
<form method="post">
	{% csrf_token %}
	{% for field in form %}
		<div class="form-elements">
			{% if field.auto_id == 'id_show_in_top_nav' %}
				<label class="form-check-radio toggle-check">
					{{ field }}
					<span class="toggle-check-box"></span>
					<span class="toggle-check-text">{{ field.label }}</span>
				</label>
			{% elif field.auto_id == 'id_apex' %}
				<label for="id_apex">{{ field.label }}</label>
				<div class="select-element">
					<select name="apex" id="id_apex">
						<option value="">---------</option>
						{% for key1, item1 in categories_dict.items %}
							<option value="{{ item1.0.id }}"{% if object.apex_id == item1.0.id %} selected{% endif %}>{{ item1.0.name }}</option>
						{% endfor %}
					</select>
				</div>
			{% elif field.name|substr_in_str:'_name' is True %}
				{{ field.label_tag }}
				{{ field|language_dir_form_field:'_name' }}
			{% else %}
				{{ field.label_tag }}
				{{ field }}
			{% endif %}
		</div>
	{% endfor %}
	<button type="submit" class="btn primary">Save</button>
</form>
{% endblock %}