{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="breadcrumbs">
	<a href="{% url 'opinion:replies' %}"><bdi>{% trans 'Your replies' %}</bdi></a> / <bdi>{{ opinion.topic_category_apex_name }}</bdi> / <bdi>{{ opinion.topic_category_name }}</bdi> / <bdi>{{ opinion.topic_name }}</bdi>
</div>
<div class="panel">
	<div class="panel-header"><bdi>{{ opinion.publisher_name }}</bdi><small>{{ opinion.recorded }}</small></div>
	<div class="panel-body">
		<blockquote class="text-muted">
			<span>{% trans 'Reply to' %}: <bdi>{{ opinion.apex_publisher_name }}</bdi><small>({{ opinion.apex_recorded }})</small></span>
			{{ opinion.apex_text|linebreaks }}
		</blockquote>
		{{ opinion.text|linebreaks }}
	</div>
</div>
<h4>{% trans 'Are you sure you want to cancel the publication of your reply?' %}</h4>
<p class="text-muted">{% trans 'Even after cancellation, you can read your reply' %}</p>
<form method="post">
	{% csrf_token %}
	<button type="submit" class="btn primary">{% trans 'Yes' %}</button>
	<button onclick="window.history.back();" class="btn">{% trans 'Go back' %}</button>
</form>
{% endblock %}