{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% include 'common/if_messages.html' %}
{% include 'common/if_form.errors.html' %}
<div class="breadcrumbs">
	<a href="{% url 'opinion:replies' %}">{% trans 'Your replies' %}</a> / {{ opinion.topic_category_apex_name }} / {{ opinion.topic_category_name }} / {{ opinion.topic_name }}
</div>
{% if opinion.status != 4 %}
	<div class="alert warning">
		<div class="alert-title clearfix">
			<i class="alert-icon alert-tri-white text-warning"></i>
			<span>{% trans 'Editing is only available for the "Sent for publication" status' %}</span>
		</div>
		{% trans 'Status' %}: {{ opinion_verbose_status }}
	</div>
{% endif %}
<div class="panel">
	<div class="panel-header">{{ opinion.publisher_name }}<small>{{ opinion.recorded }}</small></div>
	<div class="panel-body">
		<blockquote class="text-muted">
			<span>{% trans 'Reply to' %}: {{ opinion.apex_publisher_name }} <small>({{ opinion.apex_recorded }})</small></span>
			{{ opinion.apex_text|linebreaks }}
		</blockquote>
		{{ opinion.text|linebreaks }}
	</div>
</div>
{% if opinion.status == 4 %}
	{% include 'opinion/reply_edit_form.html' %}
{% endif %}
{% endblock %}