{% extends "base.html" %}
{% block content %}
{% load readable_file_size from utils %}
{% include 'common/if_messages.html' %}
<div class="alert info">
	<div class="alert-title clearfix">
		<i class="alert-icon alert-tri-white text-info"></i>
		<span>Status: {{ opinion_verbose_status }}</span>
	</div>
	Topic category apex name in English: <b>{{ opinion.topic_category_apex_en_name }}</b><br>
	Topic category name in English: <b>{{ opinion.topic_category_en_name }}</b><br>
	Topic name in English: <b>{{ opinion.topic_en_name }}</b><br>
	Updated: <b>{{ opinion.updated }}</b><br>
	Reason for rejection: <b>{{ opinion.reason_for_rejection|default:'&#10008;' }}</b><br>
	<a href="{% url 'opinion:update' pk=opinion_id %}">Update this opinion</a>
</div>
<div class="panel">
	<div class="panel-header"><bdi>{{ opinion.publisher_name }}</bdi><small>{{ opinion.recorded }}</small></div>
	<div class="panel-body">
		{% if opinion.apex_recorded %}
			<blockquote class="text-muted">
				<span>Reply to: <bdi>{{ opinion.apex_publisher_name }}</bdi><small>({{ opinion.apex_recorded }})</small></span>
				{{ opinion.apex_en_text|linebreaks }}
			</blockquote>
		{% endif %}

		<div class="line"></div>
		{% if documents %}
			<p><b>Documents</b> (<a href="{% url 'opinion:zip_documents' opinion_pk=opinion_id %}" target="_blank">Download documents in ZIP-archive</a>)</p>
			<ul>
				{% for document in documents %}
					<li><a href="{{ MEDIA_URL }}{{ document.document }}" target="_blank" dir="auto">{{ document.original_label }}</a> [<bdi>{{ document.size|readable_file_size }}</bdi>]</li>
				{% endfor %}
			</ul>
		{% else %}
			<p><b>No documents</b></p>
		{% endif %}
	</div>
</div>

<h3>Opinion in English</h3>
<div class="call-out info" dir="ltr" lang="en">{{ opinion.en_text|safe }}</div>
<h3>Opinion in Chinese</h3>
<div class="call-out info" dir="ltr" lang="zh-hans">{{ opinion.zh_hans_text|safe }}</div>
<h3>Opinion in Spanish</h3>
<div class="call-out info" dir="ltr" lang="es">{{ opinion.es_text|safe }}</div>
<h3>Opinion in Arabic</h3>
<div class="call-out info" dir="rtl" lang="ar">{{ opinion.ar_text|safe }}</div>
<h3>Opinion in French</h3>
<div class="call-out info" dir="ltr" lang="fr">{{ opinion.fr_text|safe }}</div>
<h3>Opinion in Russian</h3>
<div class="call-out info" dir="ltr" lang="ru">{{ opinion.ru_text|safe }}</div>

<a href="{% url 'opinion:update' pk=opinion_id %}" class="btn info">Update this opinion</a>
{% endblock %}