{% extends "base.html" %}
{% block content %}
{% include 'common/if_messages.html' %}
<div class="alert info">
	<div class="alert-title clearfix">
		<i class="alert-icon alert-tri-white text-info"></i>
		<span>Status: {{ jumbotron.verbose_status }}</span>
	</div>
	Show in page home: <b>{% if jumbotron.page_home is True %}&#10004;{% else %}&#10008;{% endif %}</b><br>
	Category name in English: <b>{{ jumbotron.category_en_name|default:'&#10008;' }}</b><br>
	Topic name in English: <b>{{ jumbotron.topic_en_name|default:'&#10008;' }}</b><br>
	<a href="{% url 'jumbotron:update' pk=jumbotron_id %}">Update this jumbotron</a>
</div>

<h3>Content in English</h3>
<div class="call-out info" dir="ltr" lang="en">{{ jumbotron.en_content|safe }}</div>
<h3>Content in Chinese Simplified</h3>
<div class="call-out info" dir="ltr" lang="zh-hans">{{ jumbotron.zh_hans_content|safe }}</div>
<h3>Content in Chinese Traditional</h3>
<div class="call-out info" dir="ltr" lang="zh-hant">{{ jumbotron.zh_hant_content|safe }}</div>
<h3>Content in Spanish</h3>
<div class="call-out info" dir="ltr" lang="es">{{ jumbotron.es_content|safe }}</div>
<h3>Content in Arabic</h3>
<div class="call-out info" dir="rtl" lang="ar">{{ jumbotron.ar_content|safe }}</div>
<h3>Content in French</h3>
<div class="call-out info" dir="ltr" lang="fr">{{ jumbotron.fr_content|safe }}</div>
<h3>Content in Russian</h3>
<div class="call-out info" dir="ltr" lang="ru">{{ jumbotron.ru_content|safe }}</div>

<a href="{% url 'jumbotron:update' pk=jumbotron_id %}" class="btn info">Update this jumbotron</a>
{% endblock %}