{% extends "base.html" %}
{% block content %}
{% load select_category_in_other_apps_form from category %}{% select_category_in_other_apps_form as categories_dict %}
{% include 'common/if_messages.html' %}
<form>
	<input type="hidden" name="paginate_by" value="{{ paginate_by }}">
	<div class="form-elements select-element">
		<select name="category" id="id_category">
			<option value="">---------</option>
			{% for key1, item1 in categories_dict.items %}
				<option disabled>{{ item1.0.name }}</option>
				{% for key2, item2 in item1.1.items %}
					<option value="{{ item2.0.id }}"{% if filter_by_category == item2.0.id %} selected{% endif %}>- {{ item2.0.name }}</option>
				{% endfor %}
			{% endfor %}
		</select>
	</div>
	<input type="submit" class="btn" value="Filter by category">
</form>
<div class="line"></div>
<table class="tbl bordered">
	<thead>
		<tr>
			<th class="text-center">ID</th>
			<th class="text-center">Created</th>
			<th class="text-center">Updated</th>
			<th class="text-center">Published</th>
			<th class="text-center">Category name in English</th>
			<th class="text-center">Name in English</th>
			<th class="text-center">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for element in object_list %}
			<tr>
				<td class="text-center">{{ element.id }}</td>
				<td class="text-center">{{ element.created|default:''|date:'Y-m-d H:i' }}</td>
				<td class="text-center">{{ element.updated|default:''|date:'Y-m-d H:i' }}</td>
				<td class="text-center">{% if element.published is True %}&#10004;{% else %}&#10008;{% endif %} {{ element.published }}</td>
				<td>{{ element.category_en_name }}</td>
				<td>{{ element.en_name }}</td>
				<td class="text-center">
					<a href="{% url 'topic:update' pk=element.id %}">Update</a><br>
					<a href="{% url 'opinion:new' topic_slug=element.slug %}">Add opinion</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% include 'common/pagination.html' %}
{% endblock %}